.popup__image-container {
  position: relative;
  margin: 0 auto;
  max-width: 75vw;
  max-height: 75vh;
  color: white;
  object-fit: contain;
}
@media (max-width: 440px) {
  .popup__image-container {
    width: 282px;
    padding-bottom: 25px;
    margin-top: 200px;
  }
}
